<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Student Registration
    </title>
    <style>
        #header {
            height: 50px;
            background-color: burlywood;
            font-size: xx-large;
            text-align: center;
        }

        #menuBar {
            background-color: beige;
        }

        #leftSidebar {
            background-color: lightblue;
            width: 25%;
            float: left;
        }

        #mainContent {
            background-color: aliceblue;
            width: 50%;
            float: left;
        }

        #rightSidebar {
            background-color: lightblue;
            width: 25%;
            float: left;
        }

        #footer {
            height: 30px;
            width: 100%;
            bottom: 0px;
            background-color: burlywood;
            color: azure;
            text-align: center;
        }
    </style>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md" id="header">
                    Simple Calculation
                </div>
            </div>
            <div class="row" id="menuBar">
                <div class="col">
                    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-1" id="leftSidebar">

                        </div>
                        <div class="col-10" id="mainContent">
                            <div class="row"></div>
                            <div class="col">

                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstName">First Number</label>
                                            <input type="text" class="form-control" id="firstNumber" placeholder="First number">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastName">Second Number</label>
                                            <input type="text" class="form-control" id="secondNumber" placeholder="Second number">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="lastName">Result</label>
                                            <input type="text" class="form-control" id="result" placeholder="Result">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-check">
                                            <div class="form-group col-md-3">
                                                <input type="checkbox" class="form-check-input" id="addition" />
                                                <label class="form-check-label" for="addition">Addition</label>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="checkbox" class="form-check-input" id="subtraction" />
                                                <label class="form-check-label" for="subtraction">Subtraction</label>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="checkbox" class="form-check-input" id="multiplycation" />
                                                <label class="form-check-label" for="subtraction">Multiplycation</label>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="checkbox" class="form-check-input" id="divide" />
                                                <label class="form-check-label" for="subtraction">Divide</label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary" id="save">Sign in</button>
                                    <button type="submit" class="btn btn-dark" id="new">New</button>
                                </form>
                            </div>

                        </div>
                        <div class="col-1" id="rightSidebar">

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col jumbotron" id="footer">
                    Footer
                </div>
            </div>
        </div>
    </div>



    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var firstNames;
            var lastNames;
            //var fNumber = $("#firstNumber").val();
            //var sNumber = $("#secondNumber").val();
            if ($("#addition").prop("checked") === true) {
                $("#firstNumber").keyup(function() {

                });
                //var fNumber = $("#firstNumber").val();
                //var sNumber = $("#secondNumber").val();
                //$("#result").val(fNumber + sNumber);
            }
            $("#secondNumber").keyup(function () {
                var fNumber;
                var sNumber;
                if ($("#addition").prop("checked") === true) {
                    fNumber = $("#firstNumber").val();
                    sNumber = $("#secondNumber").val();
                    $("#result").val(Number(fNumber)+Number(sNumber));
                }
                else if ($("#subtraction").prop("checked") === true) {
                    fNumber = $("#firstNumber").val();
                    sNumber = $("#secondNumber").val();
                    $("#result").val(Number(fNumber) - Number(sNumber));
                }
                else if ($("#multiplycation").prop("checked") === true) {
                    fNumber = $("#firstNumber").val();
                    sNumber = $("#secondNumber").val();
                    $("#result").val(Number(fNumber) * Number(sNumber));
                }
                else if ($("#divide").prop("checked") === true) {
                    fNumber = $("#firstNumber").val();
                    sNumber = $("#secondNumber").val();
                    $("#result").val(Number(fNumber) / Number(sNumber));
                }
                
            });
            $("#qty").keyup(function() {
                //var qty = ("#qty").val()
                //$("$totalPrice").val(qty)
            });
            $("#unitPrice").keyup(function() {
                var qty = $("#qty").val();
                var unitPrice = $("#unitPrice").val();
                $("#totalPrice").val(qty * unitPrice);
            });
            $("#fullName").keyup(function () {
                $("fullName").val(firstNames + " " + lastNames);
            });
        });
    </script>

</body>
</html>
